.row-chart {
  margin: 0 0 30px;

  @include media('>=tablet') {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.block-chart-wrapper {
  width: 100%;
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-shadow: 0 8px 24px rgba(20, 116, 186, 0.05);
  box-shadow: 0 8px 24px rgba(20, 116, 186, 0.05);
  margin: 0 0 20px;

  @include media('>=tablet') {
    width: 48.719%;
    margin: 0;
  }

  &--currency-exposure-chart {
    @include media('>=tablet') {
      width: 28.2%;
    }
  }

  &--custodians-chart {
    @include media('<tablet') {
      display: none;
    }
  }
}

.block-chart {
  padding: 30px 10px;

  @include media('>=tablet') {
    padding: 30px;
  }

  &__title {
    margin: 0 0 30px;

    @include media('>=tablet') {
      margin: 0 0 20px;
    }
  }
}
