.btn {
    transition: background-color .3s;
    width: 100%;
    min-height: 50px;
    background-color: #1474ba;
    color: #fcfeff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 2px;

    &:hover {
        background-color: #00498A;
    }
}