.chart-wrapper {
    .apexcharts-canvas {
        .apexcharts-legend {
            .apexcharts-legend-series {
                .apexcharts-legend-marker {
                    top: 2px !important;
                }
                .apexcharts-legend-text {
                    left: 10px;
                    .font-weight-500 {
                        font-weight: 500;
                    }
                    .font-weight-40 {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.block-chart-wrapper--custodians-chart {
  .apexcharts-legend {
    margin: -21px 0 0 0 !important;

    @include media('<desktop') {
      margin: 0 !important;
    }
  }
}
