.footer {
    background-color: #fff;
    padding: 8px 0 61px;

    @include media('>=desktop') {
        padding: 21px 0;
    }

    p {
        margin: 0;
        color: #A2ACBD;
    }

    &__right-bar {
        padding: 0;
        margin: 0 -35px;

        li {
            display: inline-block;
            vertical-align: top;
            padding: 0 35px;

          &.active {
            a {
              color: #1474BA;
            }
          }
        }

        a {
            transition: color 0.3s;
            text-decoration: none;
            color: #A2ACBD;
            font-weight: 600;

            &:hover {
                color: #1474BA;
            }
        }
    }

    .nav-drop {
      @include media('>=widescreen') {
          display: none;
      }

      @include media('<widescreen') {
        background-color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 8px 15px;
      }
    }
}

.footer-holder {
  padding: 0 0 15px;
  border-bottom: 1px solid #A2ACBD;

  @include media('>=tablet') {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @include media('<tablet') {
    text-align: center;
  }

  p {
    margin: 0 0 10px;
  }
}
