.header {
    padding: 13px 0;
    background-color: #fff;

    .nav-drop {
        @include media('<desktop') {
            display: none;
        }
    }
}

.header-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-right-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
