.header {
    padding: 13px 0;
    background-color: #fff;
}

.header-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon-user {
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.user-account {
    background-color: transparent;
    border: none;
    margin: 0 0 0 60px;
    padding: 0;

    .user {
        transition: color 0.3s;
        color: #a2acbd;
        font-weight: 600;

        &:hover {
            color: #1474ba;
        }
    }
}

.header-right-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
