.login-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.login-block {
    width: calc(100% - 30px);
    max-width: 370px;

    .logo {
        margin: 0 auto 30px;
    }

    &__form {
        background-color: #fff;
        border-radius: 6px;
        padding: 40px 30px;
    }

    &__title {
        display: block;
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
        margin: 0 0 30px;
        text-align: center;
    }
}