.user-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border: none;
  margin: 0 0 0 60px;
  padding: 0;
  position: relative;
  cursor: pointer;

  &.active {
    .icon-arrow-down {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  }

  .user {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    color: #a2acbd;
    font-weight: 600;

    &:hover {
      color: #1474ba;
    }
  }

  .icon-arrow-down {
    font-size: 22px;
  }
}

.icon-user {
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
  border: none;
}

.logout-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #ebf2fa;
  border-radius: 6px;
  background-color: #fff;
  min-width: 133px;
  min-height: 74px;
  margin: 30px 0 0;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0 0 5px;

    li {
      color: #a2acbd;

      &:not(:last-child) {
        padding: 10px 10px 5px;
      }
    }
  }

  a {
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #1474ba;
    text-decoration: none;
    min-height: 44px;
    width: 100%;
    min-height: 44px;

    &:hover {
      background-color: #F2FAFF;
    }
  }

  .icon {
    margin: 0 6px 0 0;
    font-size: 24px;
  }
}
