.select-holder {
  display: flex;
}

.mx-datepicker,
.select-holder {
  margin: 0 50px 0 0;
}

.v-select {
  width: 100%;
  max-width: 120px;
}

.vs__search,
.vs__search:focus {
  width: 120px !important;
  height: 32px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.mx-datepicker {
  max-width: 120px;
  width: 100%;
}


.vs__dropdown-toggle {
  padding: 4px !important;
  border: 2px solid #F2FAFF !important;
  background-color: #fff !important;
  height: 32px !important;
  border: 0;
}

.form-select {
  line-height: 20px;
}

.vs__actions {
  padding: 0 !important;
  margin: 0 0 0 -14px !important;
}

.vs__selected {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #3e4756 !important;
}

.vs__selected-options {
  max-width: 120px;
  width: 100%;
}

.mx-input {
  height: 32px !important;
  border: 2px solid #F2FAFF !important;
  box-shadow: none !important;
}

.vs__clear {
  display: none;
}

.vs__clear,
.vs__open-indicator {
  fill: #A2ACBD;
}






