.filter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 20px;
  width: 100%;

  @include media('>=tablet') {
    max-width: 50%;
  }

  @include media('>=desktop') {
    max-width: 340px;
  }

  @include media('<tablet') {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.v-select {
  width: 100%;
  max-width: 160px;
}

.vs__search,
.vs__search:focus {
  height: 20px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.mx-datepicker {
  max-width: 160px;
  width: 100%;
  margin: 0 0 0 15px;
}


.vs__dropdown-toggle {
  padding: 4px !important;
  border: 2px solid #F2FAFF !important;
  background-color: #fff !important;
  height: 32px !important;
  border: 0;
}

.vs__dropdown-menu {
  border: none !important;
  -webkit-box-shadow: 0 8px 24px rgba(20, 116, 186, 0.05) !important;
  box-shadow: 0 8px 24px rgba(20, 116, 186, 0.05) !important;
}

.vs__actions {
  padding: 0 !important;
  margin: 0 0 0 -14px !important;
}

.vs__selected {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #3e4756 !important;
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal;
  height: 20px !important;
  line-height: 1.7;

  @include media('>=desktop') {
    line-height: 1.4 !important;
  }
}

.vs__selected-options {
  width: 100%;
}

.mx-input {
  height: 32px !important;
  border: 2px solid #F2FAFF !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.vs__clear {
  display: none;
}

.vs__clear,
.vs__open-indicator {
  fill: #A2ACBD;
}

.vs--disabled {
  .vs__search,
  .vs__search:focus {
    margin: -5px -5px -5px -31px !important;
    max-width: none;
  }

  .vs__selected-options {
    padding: 0;
  }

  input[disabled] {
    background-color: rgba(242, 250, 255, 0.5);
    height: 30px !important;
  }
}





