.table-holder {
  box-shadow: 0 8px 24px rgba(20, 116, 186, 0.05);
  border-radius: 6px;
  background-color: #fff;
  padding: 30px 0 20px;
}

.table-title {
  padding: 0 0 0 30px;
  margin: 0 0 53px;
}

.table {
  &--portfolio-assets {
    .thead  {
      .tr-group {
        + .tr-group {
          .tr-group__title {
            width: 86%;
          }
        }
      }

      .tr-group-content {
        .td + .td {
          text-align: right;
        }

        &:not(:first-child) {
          .td {
            text-align: right;
          }
        }
      }

      .tr {
        grid-template-columns: 1fr;

        @include media('>=tablet') {
          grid-template-columns: 1fr 1fr;
        }

        @include media('>=desktop') {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }

    .tbody {
      .tr {
        grid-template-columns: 1fr 1fr;

        @include media('>=tablet') {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @include media('>=desktop') {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
      }
    }
  }
}

.tr-group {
  &__title {
    display: block;
    color: #a2acbd;
    font-size: 14px;
    line-height: 20px;
    width: 62%;
    margin: -51px 0 15px auto;
    border-bottom: 1px solid #a2acbd;
    padding: 0 0 15px;
    text-align: center;
  }
}

.tr-group-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.thead {
  .tr {
    display: grid;
    padding: 15px 10px;

    @include media('>=tablet') {
      padding: 15px 30px;
    }
  }

  .td {
    color: #a2acbd;
    line-height: 20px;
  }
}

.tbody {
  .tr {
    transition: background-color 0.3s;
    display: grid;
    padding: 16px 10px;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;

    @include media('>=tablet') {
      padding: 10px 30px;
      font-size: 14px;
      line-height: 20px;
    }

    &:nth-child(even) {
      background-color: #fafbfc;
    }

    &:hover {
      background-color: #f2faff;
    }
  }

  .td {
    color: #3e4756;

    &:not(:first-child) {
        text-align: right;
    }
  }
}

.double-value-holder {
  margin: 0 -5px;
}

.double-value {
  position: relative;
  padding: 0 5px;

  &:last-child {
    &:after {
      display: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    width: 1px;
    height: 18px;
    background-color: #3e4756;
  }
}

.collapse-content {
  display: none;

  @include media('<desktop') {
    display: block;
    background-color: #ebf7ff;
    padding: 10px;
    border: 1px solid #ebf2fa;
    border-radius: 0 0 2px 2px;
  }
}

.collapse-content-table {
  font-size: 12px;
  line-height: 18px;

  .row {
    display: grid;
    grid-template-columns: 76px 76px 76px;
    margin: 0 0 15px;

    &.visible-lg {
      display: none;

      @include media('<desktop') {
        display: grid;
      }
    }

    &.visible-md {
      display: none;

      @include media('<tablet') {
        display: grid;
      }
    }
  }
}

.cell-description {
  color: #a2acbd;
}

.hidden-sm {
  display: none;

  @include media('>=tablet') {
    display: block;
  }
}

.hidden-lg {
  display: none;

  @include media('>=desktop') {
    display: block;
  }
}
