.block-table {
  margin: 0 0 30px;

  &--currency-exposure {
    width: 70.1%;
  }
}

.table-holder {
  box-shadow: 0 8px 24px rgba(20, 116, 186, 0.05);
  border-radius: 6px;
  background-color: #fff;
  padding: 30px 0 20px;
}

.table-title {
  padding: 0 0 0 10px;
  margin: 0 0 20px;

  @include media('>=tablet') {
    padding: 0 0 0 30px;
    margin: 0 0 53px;
  }

  &--benchmarks {
    margin: 0 0 5px;
  }
}

.tr-holder {
  transition: background-color 0.3s;

  &:nth-child(even) {
    background-color: #fafbfc;
  }

  &:hover {
    background-color: #f2faff;
  }
}

.tr-group {
  &__title {
    display: block;
    color: #a2acbd;
    font-size: 14px;
    line-height: 20px;
    width: 62%;
    margin: -51px 0 15px auto;
    border-bottom: 1px solid #a2acbd;
    padding: 0 0 15px;
    text-align: center;
  }
}

.tr-group-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.thead {
  .tr {
    display: grid;
    padding: 15px 10px;

    @include media('>=tablet') {
      padding: 15px 30px;
    }

    .tr-group-content {
      &:not(:first-child) {
        .td {
          text-align: right;
        }
      }
    }

    .td {
      color: #a2acbd;
      line-height: 20px;

      &:not(:first-child) {
        text-align: right;
      }
    }
  }
}

.tbody {
  .tr {
    transition: background-color 0.3s;
    display: grid;
    padding: 16px 10px;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;

    @include media('>=tablet') {
      padding: 10px 30px;
      font-size: 14px;
      line-height: 20px;
    }

    @include media('>=desktop') {
      padding: 15px 30px;
    }
  }

  .td {
    color: #3e4756;

    &:not(:first-child) {
      text-align: right;
    }
  }
}

.tbody {
  .tr-holder {
    &.active {
      .collapse-content {
        height: auto;
        display: block;
      }

      .tr {
        &:after {
          background-color: #1974ba;
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }
}

.table {
  .tr {
    .td {
      &:not(:first-child) {
        text-align: right;
        justify-content: flex-end;
      }
    }
  }

  &--portfolio-assets {
    .thead  {
      .tr-group {
        + .tr-group {
          .tr-group__title {
            width: 86%;
          }
        }
      }

      .tr-group-content {
        .td + .td {
          text-align: right;
        }
      }

      .tr {
        grid-template-columns: 1fr 40px;

        @include media('>=tablet') {
          grid-template-columns: 1fr 1fr 40px;
        }

        @include media('>=desktop') {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }

    .tbody {
      .tr {
        grid-template-columns: 1fr 1fr 40px;

        @include media('>=tablet') {
          grid-template-columns: 1fr 1fr 1fr 1fr 40px;
        }

        @include media('>=desktop') {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }

        @include media('<desktop') {
          position: relative;

          &:after {
            transition: transform 0.3s;
            content: '';
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-mask: url("/images/icons-sprite/arrow-down.svg");
            mask: url("/images/icons-sprite/arrow-down.svg");
            background-color: #a2acbd;
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    @include media('<desktop') {
      .collapse-content {
        height: 0;
        display: none;
        padding: 10px 30px;
        border: 1px solid #ebf2fa;
      }
    }

    @include media('<tablet') {
      .collapse-content {
        padding: 10px;
      }
    }
  }

  &--total-wealth {
    .thead  {
      .tr-group {
        + .tr-group {
          .tr-group__title {
            width: 69%;
          }
        }
      }

      .tr {
        grid-template-columns: 1fr 40px;

        @include media('>=tablet') {
          grid-template-columns: 1fr 1fr 40px;
        }

        @include media('>=desktop') {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }

    .tbody {
      .tr {
        grid-template-columns: 1fr 1fr 40px;

        @include media('>=tablet') {
          grid-template-columns: 1fr 1fr 1fr 1fr 40px;
        }

        @include media('>=desktop') {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }

        @include media('<desktop') {
          position: relative;

          &:after {
            transition: transform 0.3s;
            content: '';
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-mask: url("/images/icons-sprite/arrow-down.svg");
            mask: url("/images/icons-sprite/arrow-down.svg");
            background-color: #a2acbd;
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    @include media('<desktop') {
      .collapse-content {
        height: 0;
        display: none;
        padding: 10px 30px;
        border: 1px solid #ebf2fa;
      }
    }

    @include media('<tablet') {
      .collapse-content {
        padding: 10px;
      }
    }
  }

  &--benchmarks {
    .thead  {
      .tr {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .tbody {
      .tr {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .td {
        display: flex;
        align-items: center;
      }
    }

    .icon-info {
      stroke-width: 1;
      margin: 0 6px 0 0;
    }
  }

  &--currency-hedging {
    .thead  {
      .tr {
        grid-template-columns: 1fr 1fr 40px;

        @include media('>=375px') {
          grid-template-columns: 1fr 1fr 40px;
        }

        @include media('>=tablet') {
          grid-template-columns: 1fr 1fr 1fr 40px;
        }

        @include media('>=desktop') {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }
    }

    .tbody {
      .tr {
        grid-template-columns: 1fr 1fr 40px;

        @include media('>=375px') {
          grid-template-columns: 1fr 1fr 40px;
        }

        @include media('>=tablet') {
          grid-template-columns: 1fr 1fr 1fr 40px;
        }

        @include media('>=desktop') {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @include media('<desktop') {
          position: relative;

          &:after {
            transition: transform 0.3s;
            content: '';
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-mask: url("/images/icons-sprite/arrow-down.svg");
            mask: url("/images/icons-sprite/arrow-down.svg");
            background-color: #a2acbd;
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    @include media('<desktop') {
      .collapse-content {
        height: 0;
        display: none;
        padding: 10px 30px;
        border: 1px solid #ebf2fa;
      }
    }

    @include media('<tablet') {
      .collapse-content {
        padding: 10px;
      }
    }
  }

  &--open-position {
    .thead {
      .tr {
        grid-template-columns: minmax(154px, 1fr);
        align-items: center;
        margin: 0 -7px;

        @include media('>=tablet') {
          font-size: 12px;
          grid-template-columns: minmax(154px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 40px;
        }

        @include media('>=1140px') {
          grid-template-columns: minmax(154px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 40px;
        }

        .td {
          line-height: 18px;
          padding: 0 7px;
        }
      }
    }

    .tbody {
      .tr {
        grid-template-columns: minmax(154px, 1fr) 40px;
        margin: 0 -6px;
        position: relative;
        cursor: pointer;

        @include media('>=tablet') {
          grid-template-columns: minmax(154px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 40px;
        }

        @include media('>=1140px') {
          grid-template-columns: minmax(154px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 40px;
        }

        &:after {
          transition: transform 0.3s;
          content: '';
          position: absolute;
          right: 37px;
          top: 50%;
          transform: translateY(-50%);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          -webkit-mask: url("/images/icons-sprite/arrow-down.svg");
          mask: url("/images/icons-sprite/arrow-down.svg");
          background-color: #a2acbd;
          width: 24px;
          height: 24px;
        }

        @include media('>=tablet') {
          font-size: 12px;
        }

        .td {
          padding: 0 6px;

          &:not(:first-child) {
            .td-cell {
              margin: 0 0 0 auto;
            }
          }

          &:nth-child(1) {
            .td-cell {
              max-width: 145px;
              width: 100%;
            }
          }

          &:nth-child(2) {
            .td-cell {
              max-width: 63px;
              width: 100%;
            }
          }

          &:nth-child(3) {
            .td-cell {
              max-width: 65px;
              width: 100%;
            }
          }

          &:nth-child(4) {
            .td-cell {
              max-width: 57px;
              width: 100%;
            }
          }

          &:nth-child(5) {
            .td-cell {
              max-width: 57px;
              width: 100%;
            }
          }

          &:nth-child(6) {
            .td-cell {
              max-width: 57px;
              width: 100%;
            }
          }

          &:nth-child(7) {
            .td-cell {
              max-width: 57px;
              width: 100%;
            }
          }

          &:nth-child(8) {
            .td-cell {
              max-width: 57px;
              width: 100%;
            }
          }

          &:nth-child(9) {
            .td-cell {
              max-width: 57px;
              width: 100%;
            }
          }

          &:nth-child(10) {
            .td-cell {
              max-width: 57px;
              width: 100%;
            }
          }

          &:nth-child(11) {
            .td-cell {
              max-width: 57px;
              width: 100%;
            }
          }

          &:nth-child(12) {
            .td-cell {
              max-width: 57px;
              width: 100%;
            }
          }

          &:nth-child(13) {
            .td-cell {
              max-width: 57px;
              width: 100%;
            }
          }

          &:nth-child(14) {
            .td-cell {
              max-width: 57px;
              width: 100%;
            }
          }
        }
      }

      .collapse-content {
        height: 0;
        display: none;
        padding: 10px 30px;
        border: 1px solid #ebf2fa;
      }

      @include media('<tablet') {
        .collapse-content {
          padding: 10px;
        }
      }
    }
  }

  &--trades {
    .thead {
      .tr {
        grid-template-columns: minmax(154px, 1fr) 1fr;
        align-items: center;
        margin: 0 -7px;

        @include media('>=tablet') {
          font-size: 12px;
          grid-template-columns: minmax(154px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 40px;
        }

        @include media('>=1140px') {
          grid-template-columns: minmax(154px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 40px;
        }

        .td {
          line-height: 18px;
          padding: 0 7px;
        }
      }
    }

    .tbody {
      .tr {
        grid-template-columns: minmax(154px, 1fr) 40px;
        margin: 0 -6px;
        position: relative;
        cursor: pointer;

        @include media('>=tablet') {
          grid-template-columns: minmax(154px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 40px;
        }

        @include media('>=1140px') {
          grid-template-columns: minmax(154px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 40px;
        }

        &:after {
          transition: transform 0.3s;
          content: '';
          position: absolute;
          right: 37px;
          top: 50%;
          transform: translateY(-50%);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          -webkit-mask: url("/images/icons-sprite/arrow-down.svg");
          mask: url("/images/icons-sprite/arrow-down.svg");
          background-color: #a2acbd;
          width: 24px;
          height: 24px;
        }

        @include media('>=tablet') {
          font-size: 12px;
        }

        .td {
          padding: 0 6px;

          &:nth-child(3) {
            .td-cell {
              max-width: 143px;
              width: 100%;
            }
          }
        }
      }

      .collapse-content {
        height: 0;
        display: none;
        padding: 10px 30px;
        border: 1px solid #ebf2fa;
      }

      @include media('<tablet') {
        .collapse-content {
          padding: 10px;
        }
      }
    }
  }

  &--currency-exposure {
    .thead  {
      .tr {
        grid-template-columns: 1fr 1fr 40px;

        @include media('>=375px') {
          grid-template-columns: 1fr 1fr 40px;
        }

        @include media('>=tablet') {
          grid-template-columns: 1fr 1fr 1fr 1fr 40px;
        }

        @include media('>=desktop') {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
      }
    }

    .tbody {
      .tr {
        grid-template-columns: 1fr 1fr 40px;

        @include media('>=375px') {
          grid-template-columns: 1fr 1fr 40px;
        }

        @include media('>=tablet') {
          grid-template-columns: 1fr 1fr 1fr 1fr 40px;
        }

        @include media('>=desktop') {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }

        @include media('<desktop') {
          position: relative;

          &:after {
            transition: transform 0.3s;
            content: '';
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-mask: url("/images/icons-sprite/arrow-down.svg");
            mask: url("/images/icons-sprite/arrow-down.svg");
            background-color: #a2acbd;
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    @include media('<desktop') {
      .collapse-content {
        height: 0;
        display: none;
        padding: 10px 30px;
        border: 1px solid #ebf2fa;
      }
    }

    @include media('<tablet') {
      .collapse-content {
        padding: 10px;
      }
    }
  }
}

.double-value-holder {
  margin: 0 -5px;
}

.double-value {
  position: relative;
  padding: 0 5px;

  &:last-child {
    &:after {
      display: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    width: 1px;
    height: 18px;
    background-color: #3e4756;
  }
}

.collapse-content {
  transition: height 0.3s;
  background-color: #ebf7ff;
  border-radius: 0 0 2px 2px;
}

.collapse-content-table {
  font-size: 12px;
  line-height: 18px;

  .row {
    display: grid;
    grid-template-columns: 76px 76px 76px;
    margin: 0 0 15px;

    &.visible-lg {
      display: none;

      @include media('<desktop') {
        display: grid;
      }
    }

    &.visible-md {
      display: none;

      @include media('<tablet') {
        display: grid;
      }
    }
  }
}

.cell-description {
  color: #a2acbd;
}

.cell-row {
  display: grid;
  grid-template-columns: 187px 120px;
  margin: 0 0 10px;
}

.hidden-sm {
  display: none;

  @include media('>=tablet') {
    display: block;
  }
}

.hidden-lg {
  display: none;

  @include media('>=desktop') {
    display: block;
  }
}

.hidden-xl {
  display: none;

  @include media('>=1140px') {
    display: block;
  }
}

//.hidden-sm {
//  display: none;
//
//  @include media('>=576px') {
//    display: grid;
//  }
//}

.visible-xl {
  display: none;

  @include media('<1140px') {
    display: grid;
  }
}

.visible-lg {
  display: none;

  @include media('<desktop') {
    display: grid;
  }
}

.visible-md {
  display: none;

  @include media('<tablet') {
    display: grid;
  }
}

//.visible-sm {
//  display: none;
//
//  @include media('<576px') {
//    display: grid;
//  }
//}

.td-cell {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
