.welcome-block {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 8px 24px rgba(20, 116, 186, 0.05);
  margin: 0 0 30px;
  padding: 20px 10px;

  @include media('>=tablet') {
    padding: 30px;
  }

  &__content {
    margin: 0 0 30px;

    h1 {
      margin: 0 0 20px;
    }

    p {
      color: #a2acbd;
    }
  }

  &__row-actions {
    @include media('>=tablet') {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .form-select {
      margin: 0 0 0 15px;
      line-height: 20px;
    }

    .tooltip {
      margin: 0 0 0 5px;

      @include media('>=576px') {
        margin: 3px 0 0 6px;
      }
    }
  }
}
