.welcome-block {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 8px 24px rgba(20, 116, 186, 0.05);
  margin: 0 0 30px;
  padding: 30px;

  &__row-actions {
    display: flex;
    flex-wrap: wrap;
  }
}
