body {
    background-color: #F8F9FC;

  @include media('>=desktop') {
    font-size: 14px;
  }
}

.wrapper {
    position: relative;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 30px 0;

  @include media('>=desktop') {
      padding: 50px 0 20px;
  }
}

h1 {
    font-size: 22px;
    line-height: 1;

    @include media('>=tablet') {
        font-size: 24px;
        line-height: 30px;
    }
}

h2 {
    font-size: 16px;
    line-height: 1;

    @include media('>=tablet') {
        font-size: 20px;
        line-height: 30px;
    }
}

h3 {
  font-size: 16px;
  line-height: 1;

  @include media('>=tablet') {
    font-size: 18px;
    line-height: 20px;
  }
}

h4 {
  font-size: 15px;
  line-height: 1;

  @include media('>=tablet') {
    font-size: 17px;
    line-height: 20px;
  }
}

h5,
h6 {
  font-size: 14px;
  line-height: 1;

  @include media('>=tablet') {
    font-size: 16px;
    line-height: 20px;
  }
}

.form-error {
  color: red;
  margin: 5px 0 0;
}

.row-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
